---
# /etc/hosts Configuration Tasks

- name: Add primary coordinator hosts to /etc/hosts
  become: yes
  lineinfile:
    path: /etc/hosts
    line: "{{ (whpg_use_private_ip_for_hosts and hostvars[item].private_ip is defined) | ternary(hostvars[item].private_ip, hostvars[item].ansible_host) }} {{ hostvars[item].hostname | default(item) }} {{ item }}"
    regexp: "^.*\\s+{{ hostvars[item].hostname | default(item) }}(\\s|$)"
    state: present
    backup: yes
  loop: "{{ groups['whpg_primary_coordinator'] | default([]) }}"
  when: groups['whpg_primary_coordinator'] is defined

- name: Add primary segment hosts to /etc/hosts
  become: yes
  lineinfile:
    path: /etc/hosts
    line: "{{ (whpg_use_private_ip_for_hosts and hostvars[item].private_ip is defined) | ternary(hostvars[item].private_ip, hostvars[item].ansible_host) }} {{ hostvars[item].hostname | default(item) }} {{ item }}"
    regexp: "^.*\\s+{{ hostvars[item].hostname | default(item) }}(\\s|$)"
    state: present
    backup: yes
  loop: "{{ groups['whpg_primary_segments'] | default([]) }}"
  when: groups['whpg_primary_segments'] is defined

- name: Add DR coordinator hosts to /etc/hosts
  become: yes
  lineinfile:
    path: /etc/hosts
    line: "{{ (whpg_use_private_ip_for_hosts and hostvars[item].private_ip is defined) | ternary(hostvars[item].private_ip, hostvars[item].ansible_host) }} {{ hostvars[item].hostname | default(item) }} {{ item }}"
    regexp: "^.*\\s+{{ hostvars[item].hostname | default(item) }}(\\s|$)"
    state: present
    backup: yes
  loop: "{{ groups['whpg_dr_coordinator'] | default([]) }}"
  when: groups['whpg_dr_coordinator'] is defined

- name: Add DR segment hosts to /etc/hosts
  become: yes
  lineinfile:
    path: /etc/hosts
    line: "{{ (whpg_use_private_ip_for_hosts and hostvars[item].private_ip is defined) | ternary(hostvars[item].private_ip, hostvars[item].ansible_host) }} {{ hostvars[item].hostname | default(item) }} {{ item }}"
    regexp: "^.*\\s+{{ hostvars[item].hostname | default(item) }}(\\s|$)"
    state: present
    backup: yes
  loop: "{{ groups['whpg_dr_segments'] | default([]) }}"
  when: groups['whpg_dr_segments'] is defined
