---
# Passwordless SSH Configuration Tasks
# Based on: https://warehouse-pg.io/docs/7x/install_guide/install_whpg.html

# Determine which hosts to configure based on current play hosts
- name: Determine target hosts for SSH configuration
  set_fact:
    ssh_target_hosts: "{{ ansible_play_hosts_all }}"
  run_once: true

- name: Create .ssh directory for gpadmin
  become: yes
  file:
    path: "{{ whpg_gpadmin_home }}/.ssh"
    state: directory
    owner: "{{ whpg_gpadmin_user }}"
    group: "{{ whpg_gpadmin_user }}"
    mode: '0700'

- name: Generate SSH key for gpadmin
  become: yes
  become_user: "{{ whpg_gpadmin_user }}"
  openssh_keypair:
    path: "{{ whpg_gpadmin_home }}/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: yes

- name: Fetch gpadmin public key from current host
  become: yes
  slurp:
    src: "{{ whpg_gpadmin_home }}/.ssh/id_rsa.pub"
  register: gpadmin_pubkey

- name: Distribute gpadmin SSH public key to all cluster hosts
  become: yes
  authorized_key:
    user: "{{ whpg_gpadmin_user }}"
    state: present
    key: "{{ gpadmin_pubkey.content | b64decode }}"
  delegate_to: "{{ item }}"
  loop: "{{ ssh_target_hosts }}"
  when: 
    - item in groups['whpg_primary_site'] or item in groups['whpg_dr_site']
  failed_when: false  # Don't fail if gpadmin doesn't exist on target host yet

- name: Set correct permissions on authorized_keys
  become: yes
  file:
    path: "{{ whpg_gpadmin_home }}/.ssh/authorized_keys"
    owner: "{{ whpg_gpadmin_user }}"
    group: "{{ whpg_gpadmin_user }}"
    mode: '0600'

- name: Create hostfile_exkeys for gpssh-exkeys utility
  become: yes
  become_user: "{{ whpg_gpadmin_user }}"
  copy:
    dest: "{{ whpg_gpadmin_home }}/hostfile_exkeys"
    content: |
      {% for host in ssh_target_hosts %}
      {{ hostvars[host].hostname | default(host) }}
      {% endfor %}
    owner: "{{ whpg_gpadmin_user }}"
    group: "{{ whpg_gpadmin_user }}"
    mode: '0644'
  when: "'whpg_primary_coordinator' in group_names"

- name: Add StrictHostKeyChecking=no to SSH config for gpadmin
  become: yes
  become_user: "{{ whpg_gpadmin_user }}"
  blockinfile:
    path: "{{ whpg_gpadmin_home }}/.ssh/config"
    create: yes
    mode: '0600'
    block: |
      Host *
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null

- name: Test passwordless SSH to localhost
  become: yes
  become_user: "{{ whpg_gpadmin_user }}"
  command: ssh -o BatchMode=yes localhost uptime
  register: ssh_test
  changed_when: false
  failed_when: false

- name: Display SSH test result
  debug:
    msg: "Passwordless SSH test {{ 'succeeded' if ssh_test.rc == 0 else 'failed' }}"
