---
# SSH Configuration Tasks

- name: Configure SSH MaxStartups
  become: yes
  lineinfile:
    path: "{{ whpg_ssh_config_file }}"
    regexp: '^#?MaxStartups'
    line: "MaxStartups {{ whpg_ssh_max_startups }}"
    state: present
  notify: restart sshd

- name: Configure SSH MaxSessions
  become: yes
  lineinfile:
    path: "{{ whpg_ssh_config_file }}"
    regexp: '^#?MaxSessions'
    line: "MaxSessions {{ whpg_ssh_max_sessions }}"
    state: present
  notify: restart sshd

- name: Verify SSH configuration
  command: sshd -t
  register: sshd_config_test
  changed_when: false
  failed_when: sshd_config_test.rc != 0

- name: Display SSH configuration status
  debug:
    msg: "SSH configuration is valid"
  when: sshd_config_test.rc == 0
