---
# WarehousePG Installation Tasks

- name: Validate EDB subscription token is provided
  fail:
    msg: "EDB subscription token is required. Please set edb_subscription_token variable."
  when: edb_subscription_token == ""

- name: Setup EDB repository
  become: yes
  shell: |
    export EDB_SUBSCRIPTION_TOKEN="{{ edb_subscription_token }}"
    curl -1sSLf "https://downloads.enterprisedb.com/$EDB_SUBSCRIPTION_TOKEN/gpsupp/setup.rpm.sh" | bash
  args:
    executable: /bin/bash
    creates: /etc/yum.repos.d/enterprisedb-gpsupp.repo

- name: Remove broken WarehousePG repository if exists
  become: yes
  file:
    path: /etc/yum.repos.d/warehousepg.repo
    state: absent

- name: Clean DNF cache
  become: yes
  command: dnf clean all
  changed_when: false

- name: Install WarehousePG packages
  become: yes
  dnf:
    name: "{{ whpg_packages }}"
    state: present
    update_cache: yes

- name: Get the current user for ownership
  set_fact:
    current_user: "{{ ansible_user | default(ansible_env.USER) }}"

- name: Change ownership of WarehousePG installation to current user
  become: yes
  file:
    path: "/usr/local/greenplum-db-{{ whpg_rpm_version }}"
    owner: "{{ current_user }}"
    group: wheel
    recurse: yes
    state: directory

- name: Change ownership of WarehousePG clients to current user
  become: yes
  file:
    path: "/usr/local/greenplum-db-clients-{{ whpg_rpm_version }}"
    owner: "{{ current_user }}"
    group: wheel
    recurse: yes
    state: directory

- name: Change ownership of greenplum-db symlink
  become: yes
  file:
    path: /usr/local/greenplum-db
    owner: "{{ current_user }}"
    group: wheel
    state: link
    follow: no
  ignore_errors: yes

- name: Change ownership of greenplum-db-clients symlink
  become: yes
  file:
    path: /usr/local/greenplum-db-clients
    owner: "{{ current_user }}"
    group: wheel
    state: link
    follow: no
  ignore_errors: yes

- name: Verify WarehousePG installation
  command: "{{ whpg_install_path }}/bin/postgres --version"
  register: whpg_version_check
  changed_when: false

- name: Display WarehousePG version
  debug:
    msg: "{{ whpg_version_check.stdout }}"
