{% set mirror_groups = ['whpg_dr_segments'] %}
{% for group_name in mirror_groups %}
{% if group_name in groups %}
{% for host in groups[group_name] | default([]) %}
{% if hostvars[host].whpg_segment_interfaces is defined %}
{% for interface in hostvars[host].whpg_segment_interfaces %}
{{ interface }}
{% endfor %}
{% else %}
{{ hostvars[host].hostname | default(host) }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
